//navigation
.container
{
    @include center;
   
}
.nav{
   
    list-style-type:none;
    margin: 0;
    padding:0;
        .nav__item
           {
            
            padding:15px 10px;
        }
a{
    
    font-size: 20px;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 500;
    color:$text-color;
    display: block;
}
a:hover{
    
    background:$primary-color;
    border-radius:5px;
    color: $white;
}

}
//desktop version
.nav
{
    @include desktop
    {
        display: flex;
    flex-direction: row;
}
}
.nav__item a {
    @include desktop
    {
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 500;
    color: #817c7c;
    display: block;
    }
}

